In [1]:
import datetime as dt
from dateutil import parser
import plotly.graph_objects as go
import pandas as pd
import sys
sys.path.append("../")

In [2]:
from api.oanda_api import OandaApi
from infrastructure.instrument_collection import InstrumentCollection as ic
from db.db import DataBaseMongo

In [3]:
database = DataBaseMongo()
icol = ic()
api = OandaApi()

In [4]:
load_icol = icol.DB_LoadInstruments()

In [5]:
pairs = []
for pair, val in icol.instruments_dict.items():
    if val.ins_type == "CURRENCY" and "GBP" in pair:
        pairs.append(pair)

In [6]:
pairs[0:5]

['EUR_GBP', 'GBP_NZD', 'GBP_PLN', 'GBP_CHF', 'GBP_CAD']

In [7]:
candle_data = []
for pair in pairs:
    print(pair)
    candle_temp = api.get_candles_df(
        pair_name=pair, granularity='D', count=700)
    candle_temp['gain'] = (
        (candle_temp.mid_c - candle_temp.mid_o) / candle_temp.mid_o) * 100
    candle_temp['pair'] = pair
    if '_GBP' in pair:
        candle_temp['gain'] = candle_temp['gain'] * -1
    candle_data.append(candle_temp)
candles_df = pd.concat(candle_data)
candles_df.reset_index(drop=True, inplace=True)
candles_df.time = candles_df.time.dt.date

EUR_GBP
GBP_NZD
GBP_PLN
GBP_CHF
GBP_CAD
GBP_HKD
GBP_ZAR
GBP_JPY
GBP_AUD
GBP_SGD
GBP_USD

In [8]:
candles_df.tail()[0:5]

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c,gain,pair
7684,2024-02-05,107641,1.25368,1.26034,1.25322,1.25978,1.25301,1.26026,1.25279,1.25968,1.25436,1.26041,1.25337,1.25989,0.486568,GBP_USD
7685,2024-02-06,103924,1.25980,1.26422,1.25945,1.26284,1.25926,1.26413,1.25873,1.26274,1.26033,1.26431,1.25975,1.26293,0.241308,GBP_USD
7686,2024-02-07,103776,1.26260,1.26390,1.25718,1.26184,1.26197,1.26382,1.25709,1.26173,1.26322,1.26398,1.25727,1.26196,-0.060193,GBP_USD
7687,2024-02-08,93910,1.26214,1.26432,1.25990,1.26302,1.26129,1.26424,1.25981,1.26294,1.26298,1.26439,1.25998,1.26311,0.069723,GBP_USD
7688,2024-02-11,79553,1.26269,1.26548,1.26062,1.26282,1.26209,1.26538,1.26053,1.26271,1.26329,1.26558,1.26070,1.26294,0.010295,GBP_USD

In [9]:
forex_calendar_data = database.query_all(DataBaseMongo.FOREX_CALENDAR)
forex_calendar_df = pd.DataFrame.from_dict(forex_calendar_data)
forex_calendar_df['date'] = pd.to_datetime(
    forex_calendar_df['date']).dt.date
forex_calendar_df_uk = forex_calendar_df[forex_calendar_df.country == 'united kingdom'].copy(
)

In [10]:
forex_calendar_df_uk[0:5]

,date,country,category,event,symbol,actual,previous,forecast
11,2020-01-13,united kingdom,balance of trade,balance of trade,UKTBTTBA,£4.03B,£-1.34B,£-3.2B
16,2020-01-15,united kingdom,inflation rate,inflation rate yoy,UKRPCJYR,1.3%,1.5%,1.5%
20,2020-01-21,united kingdom,claimant count change,claimant count change,UNITEDKINCLACOUCHA,14.9K,14.9K,26K
34,2020-01-31,united kingdom,consumer confidence,gfk consumer confidence,UKCCI,-9,-11,-10
38,2020-01-31,united kingdom,calendar,brexit deadline,,,,

In [11]:
for column in ['actual', 'previous', 'forecast']:
    for symbol in ['$', 'B', 'K', '£', '¥', '€', '₩', '%']:
        forex_calendar_df_uk[column] = forex_calendar_df_uk[column].str.replace(
            symbol, '')
    forex_calendar_df_uk[column] = forex_calendar_df_uk[column].replace(
        '', '0')
    forex_calendar_df_uk[column] = forex_calendar_df_uk[column].astype(float)

In [12]:
forex_calendar_df_uk[0:5]

,date,country,category,event,symbol,actual,previous,forecast
11,2020-01-13,united kingdom,balance of trade,balance of trade,UKTBTTBA,4.03,-1.34,-3.2
16,2020-01-15,united kingdom,inflation rate,inflation rate yoy,UKRPCJYR,1.30,1.50,1.5
20,2020-01-21,united kingdom,claimant count change,claimant count change,UNITEDKINCLACOUCHA,14.90,14.90,26.0
34,2020-01-31,united kingdom,consumer confidence,gfk consumer confidence,UKCCI,-9.00,-11.00,-10.0
38,2020-01-31,united kingdom,calendar,brexit deadline,,0.00,0.00,0.0

In [13]:
forex_calendar_df_uk.info()

<class 'pandas.core.frame.DataFrame'>
Index: 274 entries, 11 to 2225
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      274 non-null    object
 1   country   274 non-null    object
 2   category  274 non-null    object
 3   event     274 non-null    object
 4   symbol    274 non-null    object
 5   actual    274 non-null    float64
 6   previous  274 non-null    float64
 7   forecast  274 non-null    float64
dtypes: float64(3), object(5)
memory usage: 19.3+ KB

In [14]:
date_match = {}
for

SyntaxError: invalid syntax (1287962450.py, line 2)