In [23]:
import sys
sys.path.append("../")

In [24]:
import pandas as pd
import plotly.graph_objects as go
from technicals.indicators import *
from technicals.patterns import apply_patterns
from plotting import CandlePlot

In [25]:
df_raw = pd.read_csv("../data/candles/AUD_CAD_H1.csv")

In [26]:
df_raw.shape

(67812, 15)

In [27]:
df_an = df_raw.copy()
df_an.reset_index(drop=True, inplace=True)

In [28]:
df_an.shape

(67812, 15)

In [29]:
df_an = RSI(df_an)

In [30]:
df_an = apply_patterns(df_an)

In [31]:
df_an['EMA_200'] = df_an.mid_c.ewm(span=200, min_periods=200).mean()

In [32]:
df_an.columns

Index(['Unnamed: 0', 'time', 'volume', 'mid_o', 'mid_h', 'mid_l', 'mid_c',
       'bid_o', 'bid_h', 'bid_l', 'bid_c', 'ask_o', 'ask_h', 'ask_l', 'ask_c',
       'RSI_14', 'body_lower', 'body_upper', 'body_bottom_percentage',
       'body_top_percentage', 'body_percentage', 'direction', 'body_size',
       'low_change', 'high_change', 'body_size_change', 'mid_point',
       'mid_point_prev_2', 'body_size_prev', 'direction_prev',
       'direction_prev_2', 'body_percentage_prev', 'body_percentage_prev_2',
       'HANGING_MAN', 'SHOOTING_STAR', 'SPINNING_TOP', 'MARUBOZU', 'ENGULFING',
       'TWEEZER_TOP', 'TWEEZER_BOTTOM', 'MORNING_STAR', 'EVENING_STAR', 'DOJI',
       'HAMMER', 'INVERTED_HAMMER', 'DARK_CLOUD_COVER', 'PIERCING_PATTERN',
       'BULLISH_ENGULFING', 'BULLISH_HARAMI', 'BEARISH_ENGULFING',
       'BEARISH_HARAMI', 'THREE_WHITE_SOLDIERS', 'THREE_BLACK_CROWS',
       'BULLISH_ABANDONED_BABY', 'BEARISH_ABANDONED_BABY', 'BULLISH_TRI_STAR',
       'EMA_200'],
      dtype='object')

In [33]:
our_cols = ['time', 'mid_o', 'mid_h', 'mid_l',
            'mid_c', 'ask_c', 'bid_c', 'ENGULFING', 'direction', 'EMA_200', 'RSI_14']

In [34]:
df_slim = df_an[our_cols].copy()
df_slim.dropna(inplace=True)
df_slim = df_slim.reset_index(drop=True)

In [35]:
df_slim.head()

,time,mid_o,mid_h,mid_l,mid_c,ask_c,bid_c,ENGULFING,direction,EMA_200
0,2013-01-17 04:00:00+00:00,1.03766,1.03776,1.03646,1.03726,1.03737,1.03715,False,-1,1.039146
1,2013-01-17 05:00:00+00:00,1.03724,1.03740,1.03616,1.03684,1.03697,1.03670,False,-1,1.039119
2,2013-01-17 06:00:00+00:00,1.03680,1.03774,1.03675,1.03748,1.03763,1.03734,True,1,1.039100
3,2013-01-17 07:00:00+00:00,1.03750,1.03752,1.03648,1.03701,1.03713,1.03689,False,-1,1.039076
4,2013-01-17 08:00:00+00:00,1.03700,1.03870,1.03694,1.03842,1.03855,1.03828,True,1,1.039069