In [8]:
import pandas as pd
from plotting import CandlePlot
pd.set_option('display.max_columns', None)

In [9]:
df_ma_res = pd.read_pickle("../data/ma_res_2023-12-03.pkl")
df_ma_trades = pd.read_pickle("../data/ma_trades_2023-12-03.pkl")

In [13]:
df_ma_trades.head()

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c,MA__40,MA__200,MA__10,MA__80,MA__50,MA__20,MA__150,MA__120,MA__30,DELTA,DELTA_PREV,TRADE,DIFF,GAIN,granularity,pair,ma_l,ma_s,GAIN_C,cross
0,2023-10-09 11:00:00+00:00,960,1.05284,1.05347,1.05281,1.05340,1.05277,1.05340,1.05273,1.05332,1.05291,1.05354,1.05289,1.05348,1.054488,1.054700,1.053383,1.056074,1.054893,1.053323,1.055239,1.055435,1.053973,0.000060,-0.000030,1,0.000060,0.595,M15,EUR_USD,MA__20,MA__10,0.595,MA__10_MA__20
1,2023-10-09 11:30:00+00:00,671,1.05358,1.05404,1.05314,1.05324,1.05349,1.05397,1.05306,1.05317,1.05366,1.05412,1.05322,1.05332,1.054347,1.054722,1.053210,1.055931,1.054786,1.053229,1.055219,1.055428,1.053850,-0.000019,0.000044,2,-0.000019,-0.380,M15,EUR_USD,MA__20,MA__10,0.215,MA__10_MA__20
2,2023-10-09 13:30:00+00:00,2158,1.05465,1.05536,1.05440,1.05514,1.05458,1.05529,1.05433,1.05506,1.05472,1.05543,1.05448,1.05521,1.053859,1.054801,1.053514,1.055439,1.054293,1.053448,1.055154,1.055406,1.053387,0.000066,-0.000031,1,0.000066,0.655,M15,EUR_USD,MA__20,MA__10,0.870,MA__10_MA__20
3,2023-10-09 17:00:00+00:00,732,1.05358,1.05388,1.05352,1.05372,1.05350,1.05380,1.05345,1.05365,1.05365,1.05396,1.05360,1.05380,1.053676,1.054959,1.054133,1.054659,1.053889,1.054184,1.055157,1.055299,1.053794,-0.000051,0.000082,2,-0.000051,-1.020,M15,EUR_USD,MA__20,MA__10,-0.150,MA__10_MA__20
4,2023-10-09 18:15:00+00:00,674,1.05672,1.05674,1.05650,1.05664,1.05664,1.05666,1.05643,1.05657,1.05679,1.05682,1.05658,1.05672,1.054079,1.055030,1.054852,1.054699,1.053956,1.054788,1.055214,1.055303,1.054305,0.000064,-0.000103,1,0.000064,0.640,M15,EUR_USD,MA__20,MA__10,0.490,MA__10_MA__20

In [19]:
df_ma_trades.granularity.unique()

array(['M15', 'M30', 'H1', 'H4'], dtype=object)

In [21]:
df_ma_res_m15 = df_ma_res[df_ma_res.granularity == 'M15'].copy()
df_ma_trades_m15 = df_ma_trades[df_ma_trades.granularity == 'M15'].copy()

df_ma_res_m30 = df_ma_res[df_ma_res.granularity == 'M30'].copy()
df_ma_trades_m30 = df_ma_trades[df_ma_trades.granularity == 'M30'].copy()

df_ma_res_h1 = df_ma_res[df_ma_res.granularity == 'H1'].copy()
df_ma_trades_h1 = df_ma_trades[df_ma_trades.granularity == 'H1'].copy()

df_ma_res_h4 = df_ma_res[df_ma_res.granularity == 'H4'].copy()
df_ma_trades_h4 = df_ma_trades[df_ma_trades.granularity == 'H4'].copy()

In [24]:
#df_ma_res_m15.columns
#df_ma_res_m30.columns
#df_ma_res_h1.columns
df_ma_res_h4.columns

Index(['pair', 'ma_l', 'ma_s', 'total_gain', 'mean_gain', 'min_gain',
       'max_gain', 'cross', 'number_of_trades', 'granularity'],
      dtype='object')

In [26]:
df_cross_summary_m15 = df_ma_res_m15[['pair', 'number_of_trades', 'total_gain', 'cross']].copy()
df_cross_summary_m30 = df_ma_res_m30[['pair', 'number_of_trades', 'total_gain', 'cross']].copy()
df_cross_summary_h1 = df_ma_res_h1[['pair', 'number_of_trades', 'total_gain', 'cross']].copy()
df_cross_summary_h4 = df_ma_res_h4[['pair', 'number_of_trades', 'total_gain', 'cross']].copy()

In [28]:
df_cross_summary_m15

        pair  number_of_trades  total_gain           cross
0    EUR_USD               200         -55   MA__10_MA__20
1    EUR_USD               147         -25   MA__30_MA__20
2    EUR_USD               101         -23   MA__40_MA__20
3    EUR_USD                85         -16   MA__50_MA__20
4    EUR_USD               109         -18   MA__10_MA__40
..       ...               ...         ...             ...
163  GBP_JPY                41         -39  MA__10_MA__200
164  GBP_JPY                29          -9  MA__20_MA__200
165  GBP_JPY                23          -8  MA__30_MA__200
166  GBP_JPY                21          -4  MA__40_MA__200
167  GBP_JPY                21          -8  MA__50_MA__200

[168 rows x 4 columns]

In [41]:
df_cross_gr_m15 = df_cross_summary_m15.groupby(by="cross").sum()
df_cross_gr_m15.sort_values(by="cross", inplace=True, ascending=False)
df_cross_gr_m30 = df_cross_summary_m30.groupby(by="cross").sum()
df_cross_gr_m30.sort_values(by="cross", inplace=True, ascending=False)
df_cross_gr_h1 = df_cross_summary_h1.groupby(by="cross").sum()
df_cross_gr_h1.sort_values(by="cross", inplace=True, ascending=False)
df_cross_gr_h4 = df_cross_summary_h4.groupby(by="cross").sum()
df_cross_gr_h4.sort_values(by="cross", inplace=True, ascending=False)

In [43]:
df_cross_summary_h4

        pair  number_of_trades  total_gain           cross
504  EUR_USD               213        -345   MA__10_MA__20
505  EUR_USD               141        -126   MA__30_MA__20
506  EUR_USD               112        -133   MA__40_MA__20
507  EUR_USD                95        -128   MA__50_MA__20
508  EUR_USD               121        -196   MA__10_MA__40
..       ...               ...         ...             ...
667  GBP_JPY                51        -264  MA__10_MA__200
668  GBP_JPY                45         -98  MA__20_MA__200
669  GBP_JPY                41         -63  MA__30_MA__200
670  GBP_JPY                33         -82  MA__40_MA__200
671  GBP_JPY                31         -30  MA__50_MA__200

[168 rows x 4 columns]

In [44]:
total = len(df_ma_res.pair.unique())

6

In [46]:
temp = df_ma_res_h4[df_ma_res_h4['cross'] == "MA_10_MA_40"]

In [48]:
temp[temp.total_gain > 0]

Empty DataFrame
Columns: [pair, ma_l, ma_s, total_gain, mean_gain, min_gain, max_gain, cross, number_of_trades, granularity]
Index: []