In [238]:
import pandas as pd
from plotting import CandlePlot
pd.set_option('display.max_columns', None)

In [239]:
df_ma_res = pd.read_pickle("../data/ma_res_2023-12-04.pkl")
df_ma_trades = pd.read_pickle("../data/ma_trades_2023-12-04.pkl")

In [240]:
df_ma_trades.head()

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c,MA__40,MA__200,MA__10,MA__80,MA__50,MA__20,MA__150,MA__120,MA__30,DELTA,DELTA_PREV,TRADE,DIFF,GAIN,granularity,pair,GAIN_C,cross
0,2023-10-09 11:00:00+00:00,960,1.05284,1.05347,1.05281,1.05340,1.05277,1.05340,1.05273,1.05332,1.05291,1.05354,1.05289,1.05348,1.054488,1.054700,1.053383,1.056074,1.054893,1.053323,1.055239,1.055435,1.053973,0.000060,-0.000030,1,-0.00016,-1.6,M15,EUR_USD,-1.6,None_None
1,2023-10-09 11:30:00+00:00,671,1.05358,1.05404,1.05314,1.05324,1.05349,1.05397,1.05306,1.05317,1.05366,1.05412,1.05322,1.05332,1.054347,1.054722,1.053210,1.055931,1.054786,1.053229,1.055219,1.055428,1.053850,-0.000019,0.000044,-1,0.00190,-19.0,M15,EUR_USD,-20.6,None_None
2,2023-10-09 13:30:00+00:00,2158,1.05465,1.05536,1.05440,1.05514,1.05458,1.05529,1.05433,1.05506,1.05472,1.05543,1.05448,1.05521,1.053859,1.054801,1.053514,1.055439,1.054293,1.053448,1.055154,1.055406,1.053387,0.000066,-0.000031,1,-0.00142,-14.2,M15,EUR_USD,-34.8,None_None
3,2023-10-09 17:00:00+00:00,732,1.05358,1.05388,1.05352,1.05372,1.05350,1.05380,1.05345,1.05365,1.05365,1.05396,1.05360,1.05380,1.053676,1.054959,1.054133,1.054659,1.053889,1.054184,1.055157,1.055299,1.053794,-0.000051,0.000082,-1,0.00292,-29.2,M15,EUR_USD,-64.0,None_None
4,2023-10-09 18:15:00+00:00,674,1.05672,1.05674,1.05650,1.05664,1.05664,1.05666,1.05643,1.05657,1.05679,1.05682,1.05658,1.05672,1.054079,1.055030,1.054852,1.054699,1.053956,1.054788,1.055214,1.055303,1.054305,0.000064,-0.000103,1,0.00024,2.4,M15,EUR_USD,-61.6,None_None

In [241]:
df_ma_trades.granularity.unique()

array(['M15', 'M30', 'H1', 'H4'], dtype=object)

In [242]:
def filter_data_by_granularity(df_ma_res, df_ma_trades, granularity):
    """
    Filter DataFrame based on granularity and create copies.

    Parameters:
    - df_ma_res (pd.DataFrame): DataFrame for macro results.
    - df_ma_trades (pd.DataFrame): DataFrame for trade results.
    - granularity (str): Granularity to filter on.

    Returns:
    pd.DataFrame, pd.DataFrame: Filtered DataFrames for macro results and trade results.

    Description:
    This function takes two DataFrames, df_ma_res and df_ma_trades, and filters them based on the provided granularity.
    It creates copies of the filtered DataFrames and returns them as df_res_filtered and df_trades_filtered, respectively.
    """
    df_res_filtered = df_ma_res[df_ma_res.granularity == granularity].copy()
    df_trades_filtered = df_ma_trades[df_ma_trades.granularity == granularity].copy()
    return df_res_filtered, df_trades_filtered

df_ma_res_m15, df_ma_trades_m15 = filter_data_by_granularity(df_ma_res, df_ma_trades, 'M15')
df_ma_res_m30, df_ma_trades_m30 = filter_data_by_granularity(df_ma_res, df_ma_trades, 'M30')
df_ma_res_h1, df_ma_trades_h1 = filter_data_by_granularity(df_ma_res, df_ma_trades, 'H1')
df_ma_res_h4, df_ma_trades_h4 = filter_data_by_granularity(df_ma_res, df_ma_trades, 'H4')

In [243]:
df_ma_res_m15.columns
df_ma_res_m30.columns
df_ma_res_h1.columns
df_ma_res_h4.columns

Index(['pair', 'ma_l', 'ma_s', 'total_gain', 'mean_gain', 'min_gain',
       'max_gain', 'cross', 'number_of_trades', 'granularity'],
      dtype='object')

In [244]:
def generate_cross_summary(df_ma_res, granularity):
    """
    Generate cross summary DataFrame based on granularity.

    Parameters:
    - df_ma_res (pd.DataFrame): DataFrame for macro results.
    - granularity (str): Granularity to filter on.

    Returns:
    pd.DataFrame: Cross summary DataFrame.

    Description:
    This function generates a cross summary DataFrame from the provided macro results DataFrame (df_ma_res)
    by filtering it based on the specified granularity. It creates a copy of the filtered DataFrame and extracts
    columns 'pair', 'number_of_trades', 'total_gain', and 'cross' to form the cross summary DataFrame.
    """
    df_res_filtered = df_ma_res[df_ma_res.granularity == granularity].copy()
    df_cross_summary = df_res_filtered[['pair', 'number_of_trades', 'total_gain', 'cross']].copy()
    return df_cross_summary

df_cross_summary_m15 = generate_cross_summary(df_ma_res, 'M15')
df_cross_summary_m30 = generate_cross_summary(df_ma_res, 'M30')
df_cross_summary_h1 = generate_cross_summary(df_ma_res, 'H1')
df_cross_summary_h4 = generate_cross_summary(df_ma_res, 'H4')

In [245]:
df_cross_summary_h4

        pair  number_of_trades  total_gain           cross
504  EUR_USD               213       -1430   MA__10_MA__20
505  EUR_USD               141        -191   MA__30_MA__20
506  EUR_USD               112         616   MA__40_MA__20
507  EUR_USD                95         770   MA__50_MA__20
508  EUR_USD               121       -1582   MA__10_MA__40
..       ...               ...         ...             ...
667  GBP_JPY                51       -5071  MA__10_MA__200
668  GBP_JPY                45       -5647  MA__20_MA__200
669  GBP_JPY                41       -6392  MA__30_MA__200
670  GBP_JPY                33       -3451  MA__40_MA__200
671  GBP_JPY                31       -6562  MA__50_MA__200

[168 rows x 4 columns]

In [246]:
def group_and_sort(df):
    grouped_df = df.groupby(by="cross").sum()
    sorted_df = grouped_df.sort_values(by="cross", inplace=False, ascending=False)
    return sorted_df

df_cross_gr_m15 = group_and_sort(df_cross_summary_m15)
df_cross_gr_m30 = group_and_sort(df_cross_summary_m30)
df_cross_gr_h1 = group_and_sort(df_cross_summary_h1)
df_cross_gr_h4 = group_and_sort(df_cross_summary_h4)

In [247]:
df_cross_summary_h4

        pair  number_of_trades  total_gain           cross
504  EUR_USD               213       -1430   MA__10_MA__20
505  EUR_USD               141        -191   MA__30_MA__20
506  EUR_USD               112         616   MA__40_MA__20
507  EUR_USD                95         770   MA__50_MA__20
508  EUR_USD               121       -1582   MA__10_MA__40
..       ...               ...         ...             ...
667  GBP_JPY                51       -5071  MA__10_MA__200
668  GBP_JPY                45       -5647  MA__20_MA__200
669  GBP_JPY                41       -6392  MA__30_MA__200
670  GBP_JPY                33       -3451  MA__40_MA__200
671  GBP_JPY                31       -6562  MA__50_MA__200

[168 rows x 4 columns]

In [248]:
def filter_ma_cross(df, cross_value):
    return df[df['cross'] == cross_value]

cross_value = "MA__40_MA__200"
temp = filter_ma_cross(df_ma_res_h4, cross_value)

In [249]:
temp[temp.total_gain > 0]

,pair,ma_l,ma_s,total_gain,mean_gain,min_gain,max_gain,cross,number_of_trades,granularity
530,EUR_USD,MA__200,MA__40,614,26,-303,628,MA__40_MA__200,23,H4
614,USD_JPY,MA__200,MA__40,2053,97,-497,1210,MA__40_MA__200,21,H4
642,GBP_USD,MA__200,MA__40,4,0,-446,772,MA__40_MA__200,27,H4

In [250]:
temp

,pair,ma_l,ma_s,total_gain,mean_gain,min_gain,max_gain,cross,number_of_trades,granularity
530,EUR_USD,MA__200,MA__40,614,26,-303,628,MA__40_MA__200,23,H4
558,EUR_GBP,MA__200,MA__40,-2033,-56,-152,171,MA__40_MA__200,36,H4
586,EUR_JPY,MA__200,MA__40,-1937,-71,-488,1133,MA__40_MA__200,27,H4
614,USD_JPY,MA__200,MA__40,2053,97,-497,1210,MA__40_MA__200,21,H4
642,GBP_USD,MA__200,MA__40,4,0,-446,772,MA__40_MA__200,27,H4
670,GBP_JPY,MA__200,MA__40,-3451,-104,-985,1675,MA__40_MA__200,33,H4

In [251]:
total_pairs = len(df_cross_summary_h4)

for c in df_cross_summary_h4['cross'].unique():
    temp = df_cross_summary_h4[df_cross_summary_h4['cross'] == c]
    pg = temp[temp['total_gain'] > 0].shape[0]
    print(f"{c} pg: {pg} percent gain: {(pg / total_pairs) * 100:.2f}%")

MA__10_MA__20 pg: 3 percent gain: 1.79%
MA__30_MA__20 pg: 5 percent gain: 2.98%
MA__40_MA__20 pg: 5 percent gain: 2.98%
MA__50_MA__20 pg: 4 percent gain: 2.38%
MA__10_MA__40 pg: 2 percent gain: 1.19%
MA__20_MA__40 pg: 1 percent gain: 0.60%
MA__30_MA__40 pg: 2 percent gain: 1.19%
MA__50_MA__40 pg: 5 percent gain: 2.98%
MA__10_MA__80 pg: 4 percent gain: 2.38%
MA__20_MA__80 pg: 3 percent gain: 1.79%
MA__30_MA__80 pg: 3 percent gain: 1.79%
MA__40_MA__80 pg: 4 percent gain: 2.38%
MA__50_MA__80 pg: 4 percent gain: 2.38%
MA__10_MA__120 pg: 3 percent gain: 1.79%
MA__20_MA__120 pg: 3 percent gain: 1.79%
MA__30_MA__120 pg: 3 percent gain: 1.79%
MA__40_MA__120 pg: 3 percent gain: 1.79%
MA__50_MA__120 pg: 3 percent gain: 1.79%
MA__10_MA__150 pg: 2 percent gain: 1.19%
MA__20_MA__150 pg: 3 percent gain: 1.79%
MA__30_MA__150 pg: 3 percent gain: 1.79%
MA__40_MA__150 pg: 3 percent gain: 1.79%
MA__50_MA__150 pg: 3 percent gain: 1.79%
MA__10_MA__200 pg: 3 percent gain: 1.79%
MA__20_MA__200 pg: 3 percent gain: 1.79%
MA__30_MA__200 pg: 3 percent gain: 1.79%
MA__40_MA__200 pg: 3 percent gain: 1.79%
MA__50_MA__200 pg: 2 percent gain: 1.19%

In [252]:
cross = "MA__40_MA__200"


df_MA_40_MA_200 = df_ma_res_h4[df_ma_res_h4.cross == cross].copy()

df_MA_40_MA_200.sort_values(by=['total_gain'], ascending=False, inplace=True)

In [256]:
df_MA_40_MA_200

,pair,ma_l,ma_s,total_gain,mean_gain,min_gain,max_gain,cross,number_of_trades,granularity
614,USD_JPY,MA__200,MA__40,2053,97,-497,1210,MA__40_MA__200,21,H4
530,EUR_USD,MA__200,MA__40,614,26,-303,628,MA__40_MA__200,23,H4
642,GBP_USD,MA__200,MA__40,4,0,-446,772,MA__40_MA__200,27,H4
586,EUR_JPY,MA__200,MA__40,-1937,-71,-488,1133,MA__40_MA__200,27,H4
558,EUR_GBP,MA__200,MA__40,-2033,-56,-152,171,MA__40_MA__200,36,H4
670,GBP_JPY,MA__200,MA__40,-3451,-104,-985,1675,MA__40_MA__200,33,H4

In [257]:
df_gains = df_ma_trades_h4[(df_ma_trades_h4.cross == cross) & (df_ma_trades_h4.pair == "USD_JPY")].copy()

In [259]:
df_gains.head(3)

Empty DataFrame
Columns: [time, volume, mid_o, mid_h, mid_l, mid_c, bid_o, bid_h, bid_l, bid_c, ask_o, ask_h, ask_l, ask_c, MA__40, MA__200, MA__10, MA__80, MA__50, MA__20, MA__150, MA__120, MA__30, DELTA, DELTA_PREV, TRADE, DIFF, GAIN, granularity, pair, GAIN_C, cross]
Index: []